* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter";
}

.container {
  width: 120rem;
  padding: 0 1rem;
  margin: 0 auto;
}

.header {
  padding: 40px 0 80px 0;
}
.header__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 30.4rem;
  list-style: none;
}
.header__link {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 400;
  color: rgb(66, 69, 94);
  scroll-behavior: smooth;
}
.header__btn_demo {
  width: 10rem;
  height: 4rem;
  font-size: 1.2rem;
}

.logo {
  width: 25rem;
  height: 6rem;
  background-color: rgb(32, 39, 62);
  text-align: center;
  padding: 0.8rem 0;
}

.main {
  background-color: rgb(197, 220, 255);
  height: 66.4rem;
}
.main__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50rem 1rem 63.3rem;
  grid-template-columns: 50rem 63.3rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 1rem;
     -moz-column-gap: 1rem;
          column-gap: 1rem;
}
.main__text {
  margin-top: 16.4em;
}
.main__heading {
  width: 58.8rem;
  font-weight: 400;
  font-size: 5.5rem;
  color: rgb(4, 1, 23);
}
.main__item {
  margin: 4rem 0 0 2.1rem;
}
.main__list {
  font-weight: 300;
  font-size: 1.8rem;
  color: rgb(66, 69, 94);
}
.main__img {
  position: relative;
}
.main .visor-2 {
  position: absolute;
  top: 16.9rem;
  left: 8.8rem;
  width: 45.5rem;
  height: 28.6rem;
}
.main__btn_submit-your-application {
  width: 18rem;
  height: 6rem;
  margin-top: 9.9rem;
}

.preferences {
  padding-top: 10rem;
}
.preferences__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 58.8rem 2.4rem 58.8rem;
  grid-template-columns: 58.8rem 58.8rem;
  -webkit-column-gap: 2.4rem;
     -moz-column-gap: 2.4rem;
          column-gap: 2.4rem;
  margin-bottom: 8.9rem;
}
.preferences__descr {
  max-width: 56rem;
}
.preferences__heading {
  font-weight: 400;
  font-size: 4rem;
  color: rgb(4, 1, 23);
}
.preferences__sub-heading {
  font-size: 1.8rem;
  font-weight: 300;
  margin-top: 4rem;
  color: rgb(66, 69, 94);
}
.preferences__img {
  width: 55.8rem;
  height: 30rem;
  background-color: rgb(197, 220, 255);
}

.prices__title {
  font-weight: 400;
  font-size: 5.5rem;
  color: rgb(4, 1, 23);
  text-align: center;
  text-transform: uppercase;
}
.prices__card {
  margin-top: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.prices__item {
  width: 28.2rem;
  height: 43rem;
  background-color: rgb(197, 220, 255);
}
.prices__heading {
  font-weight: 400;
  font-size: 4.5rem;
  color: rgb(4, 1, 23);
  margin-top: 4.1rem;
  text-align: center;
}
.prices__menu {
  margin-top: 3rem;
}
.prices__list {
  font-size: 1.8rem;
  font-weight: 400;
  color: rgb(66, 69, 94);
  margin-left: 2.3rem;
}
.prices__btn_buy-a-subscription {
  display: block;
  margin: 0 auto;
  margin-top: 10.2rem;
  width: 18rem;
  height: 6rem;
  font-size: 1.5rem;
}

.contacts {
  background-color: rgb(197, 220, 255);
  height: 48.1rem;
  margin-top: 7.7rem;
  padding: 8rem 0 6.2rem 0;
}
.contacts__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.contacts__img {
  background-color: #fff;
}
.contacts__descr {
  margin-left: 5.3rem;
}
.contacts__heading {
  font-size: 4rem;
  font-weight: 400;
  color: rgb(4, 1, 23);
}
.contacts__sub-heading {
  font-size: 1.8rem;
  font-weight: 400;
  color: rgb(66, 69, 94);
  margin-top: 3rem;
}
.contacts__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 33.9rem;
}
.contacts__input {
  width: 38.4rem;
  height: 6.9rem;
  border: 1px solid rgb(157, 157, 157);
  color: rgb(66, 69, 94);
  padding-left: 2.5rem;
  background-color: rgb(197, 220, 255);
  margin-bottom: 1.5rem;
}
.contacts__btn_form {
  width: 38.4rem;
  height: 6.9rem;
  font-size: 1.8rem;
}

.footer {
  background-color: rgb(34, 82, 204);
}
.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__logo {
  margin: 4rem 0;
}
.footer__link {
  display: block;
  font-weight: 400;
  font-size: 1.5rem;
  color: #fff;
  margin: 6rem 0;
  text-decoration: none;
}

.btn {
  color: rgb(255, 255, 255);
  background-color: rgb(32, 39, 62);
  font-weight: 400;
  border: none;
  cursor: pointer;
}