* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Inter";
  overflow-x: hidden;
}

.container {
  max-width: 120rem;
  padding: 0 1rem;
  margin: 0 auto;
}

.header {
  padding: 40px 0 80px 0;
  position: relative;
}
.header__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__nav {
  width: 36.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30.4rem;
  list-style: none;
}
.header__link {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 400;
  color: rgb(66, 69, 94);
}
.header__btn_demo {
  width: 10rem;
  height: 4rem;
  font-size: 1.2rem;
}

.logo {
  width: 25rem;
  height: 6rem;
  background-color: rgb(32, 39, 62);
  text-align: center;
  padding: 0.8rem 0;
}

.dots {
  display: none;
}

.main {
  background-color: rgb(197, 220, 255);
  height: 66.4rem;
}
.main__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50rem 1rem 63.3rem;
  grid-template-columns: 50rem 63.3rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 1rem;
     -moz-column-gap: 1rem;
          column-gap: 1rem;
}
.main__text {
  margin-top: 16.4em;
}
.main__heading {
  width: 58.8rem;
  font-weight: 400;
  font-size: 5rem;
  color: rgb(4, 1, 23);
}
.main__item {
  margin: 4rem 0 0 2.1rem;
}
.main__list {
  font-weight: 300;
  font-size: 1.8rem;
  color: rgb(66, 69, 94);
}
.main__img {
  position: relative;
}
.main .visor-2 {
  position: absolute;
  top: 16.9rem;
  left: 8.8rem;
  width: 45.5rem;
  height: 28.6rem;
}
.main__btn_submit-your-application {
  width: 18rem;
  height: 6rem;
  margin-top: 9.9rem;
}

.preferences {
  padding-top: 10rem;
}
.preferences__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 58.8rem 2.4rem 58.8rem;
  grid-template-columns: 58.8rem 58.8rem;
  -webkit-column-gap: 2.4rem;
     -moz-column-gap: 2.4rem;
          column-gap: 2.4rem;
  margin-bottom: 8.9rem;
}
.preferences__descr {
  max-width: 56rem;
}
.preferences__heading {
  font-weight: 400;
  font-size: 4rem;
  color: rgb(4, 1, 23);
}
.preferences__sub-heading {
  font-size: 1.8rem;
  font-weight: 300;
  margin-top: 4rem;
  color: rgb(66, 69, 94);
}
.preferences__img {
  width: 55.8rem;
  height: 30rem;
  background-color: rgb(197, 220, 255);
}

.prices__title {
  font-weight: 400;
  font-size: 5.5rem;
  color: rgb(4, 1, 23);
  text-align: center;
  text-transform: uppercase;
}
.prices__card {
  margin-top: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.prices__item {
  width: 28.2rem;
  height: 43rem;
  background-color: rgb(197, 220, 255);
}
.prices__heading {
  font-weight: 400;
  font-size: 4.5rem;
  color: rgb(4, 1, 23);
  margin-top: 4.1rem;
  text-align: center;
}
.prices__menu {
  margin-top: 3rem;
}
.prices__list {
  font-size: 1.8rem;
  font-weight: 400;
  color: rgb(66, 69, 94);
  margin-left: 2.3rem;
}
.prices__btn_buy-a-subscription {
  display: block;
  margin: 0 auto;
  margin-top: 10.2rem;
  width: 18rem;
  height: 6rem;
  font-size: 1.5rem;
}

.contacts {
  background-color: rgb(197, 220, 255);
  height: 48.1rem;
  margin-top: 7.7rem;
  padding: 8rem 0 6.2rem 0;
}
.contacts__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.contacts__img {
  background-color: #fff;
}
.contacts__descr {
  margin-left: 5.3rem;
}
.contacts__heading {
  font-size: 4rem;
  font-weight: 400;
  color: rgb(4, 1, 23);
}
.contacts__sub-heading {
  font-size: 1.8rem;
  font-weight: 400;
  color: rgb(66, 69, 94);
  margin-top: 3rem;
}
.contacts__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 33.9rem;
}
.contacts__input {
  width: 38.4rem;
  height: 6.9rem;
  border: 1px solid rgb(157, 157, 157);
  color: rgb(66, 69, 94);
  padding-left: 2.5rem;
  background-color: rgb(197, 220, 255);
  margin-bottom: 1.5rem;
}
.contacts__btn_form {
  width: 38.4rem;
  height: 6.9rem;
  font-size: 1.8rem;
}

.footer {
  background-color: rgb(34, 82, 204);
}
.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__logo {
  margin: 4rem 0;
}
.footer__link {
  display: block;
  font-weight: 400;
  font-size: 1.5rem;
  color: #fff;
  margin: 6rem 0;
  text-decoration: none;
}

.btn {
  color: rgb(255, 255, 255);
  background-color: rgb(32, 39, 62);
  font-weight: 400;
  border: none;
  cursor: pointer;
}

.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: rgb(30, 30, 30);
}

.icon-mobile-nav[name=close-outline] {
  display: none;
}

@media (max-width: 120em) {
  .header__items {
    padding: 0 3.2rem;
  }
  .main__wrapper {
    -ms-grid-columns: 50rem 50.3rem;
    grid-template-columns: 50rem 50.3rem;
  }
  .main .mac-transparent {
    width: 50rem;
  }
  .main .visor-2 {
    top: 12.9rem;
    left: 6.8rem;
    width: 36rem;
    height: 23rem;
  }
  .main__btn_submit-your-application {
    margin-left: 2.2rem;
  }
  .preferences__items {
    -ms-grid-columns: 50.8rem 50.8rem;
    grid-template-columns: 50.8rem 50.8rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .preferences__img {
    width: 49.9rem;
  }
  .preferences__descr {
    max-width: 48rem;
  }
  .preferences__text {
    width: 48rem;
  }
  .preferences__heading {
    font-size: 3.5rem;
  }
  .preferences__sub-heading {
    font-size: 1.9rem;
    line-height: 1.4;
  }
  .prices__item {
    width: 27.2rem;
    height: 40rem;
  }
  .prices__list {
    font-size: 1.7rem;
    line-height: 1.4;
  }
  .prices__btn_buy-a-subscription {
    margin-top: 7.7rem;
  }
  .contacts__descr {
    margin-left: 3.3rem;
  }
  .footer__link {
    margin-right: 1rem;
  }
}
@media (max-width: 70em) {
  .header .logo {
    width: 21rem;
  }
  .header__menu {
    margin: 0 auto;
  }
  .main__wrapper {
    -ms-grid-columns: 40rem 40.3rem;
    grid-template-columns: 40rem 40.3rem;
  }
  .main__heading {
    width: 39.8rem;
    font-size: 3.7rem;
  }
  .main__img {
    margin-top: 8.2rem;
  }
  .main__list {
    line-height: 1.5;
  }
  .main__btn_submit-your-application {
    margin-left: 7.2rem;
  }
  .main .mac-transparent {
    width: 40rem;
  }
  .main .visor-2 {
    top: 10.5rem;
    left: 5.7rem;
    width: 28.5rem;
    height: 18.5rem;
  }
  .preferences__items {
    -ms-grid-columns: 40.8rem 40.8rem;
    grid-template-columns: 40.8rem 40.8rem;
  }
  .preferences__img {
    width: 40.9rem;
  }
  .preferences__descr {
    max-width: 40rem;
  }
  .preferences__heading {
    font-size: 3rem;
  }
  .prices__item {
    width: 21.2rem;
    height: 38rem;
  }
  .prices__title {
    font-size: 5rem;
  }
  .prices__list {
    font-size: 1.4rem;
    line-height: 1.9;
    margin-left: 1rem;
    list-style-type: none;
  }
  .prices__btn_buy-a-subscription {
    width: 15rem;
    height: 5rem;
  }
  .contacts__img {
    height: 22.2rem;
  }
  .contacts__img-contacts {
    width: 25rem;
  }
  .contacts__heading {
    font-size: 3.5rem;
  }
  .contacts__sub-heading {
    font-size: 1.7rem;
  }
  .contacts__input {
    margin-left: 32px;
    width: 31.4rem;
    height: 6rem;
  }
  .contacts__btn_form {
    margin-left: 32px;
    width: 31.4rem;
    height: 6rem;
  }
}
@media (max-width: 59em) {
  .header .logo {
    width: 16rem;
  }
  .header__menu {
    margin: 0 auto;
  }
  .main__wrapper {
    padding: 0 1rem;
    -ms-grid-columns: 33rem 34.3rem;
    grid-template-columns: 33rem 34.3rem;
  }
  .main__heading {
    font-size: 3.2rem;
  }
  .main__item {
    margin-top: 3.2rem;
  }
  .main__list {
    line-height: 1.7;
  }
  .main__btn_submit-your-application {
    margin-top: 5.2rem;
  }
  .main .mac-transparent {
    width: 34rem;
  }
  .main .visor-2 {
    top: 9rem;
    left: 4.6rem;
    width: 24.5rem;
    height: 16rem;
  }
  .preferences {
    margin-left: 0.9rem;
  }
  .preferences__items {
    -ms-grid-columns: 30.8rem 34.8rem;
    grid-template-columns: 30.8rem 34.8rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .preferences__img {
    width: 30.3rem;
  }
  .preferences__descr {
    max-width: 33rem;
  }
  .preferences__heading {
    font-size: 2rem;
  }
  .preferences__sub-heading {
    margin-top: 2rem;
    font-size: 1.8rem;
  }
  .prices {
    margin: 0 auto;
  }
  .prices__card {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 283px 4.1rem 283px;
    grid-template-columns: repeat(2, 283px);
    -ms-grid-rows: 1fr 3.6rem 1fr;
    grid-template-rows: repeat(2, 1fr);
    row-gap: 3.6rem;
    -webkit-column-gap: 4.1rem;
       -moz-column-gap: 4.1rem;
            column-gap: 4.1rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .prices__card > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .prices__card > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .prices__card > *:nth-child(3) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .prices__card > *:nth-child(4) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }
  .prices__item {
    width: 27.2rem;
  }
  .prices__list {
    text-align: center;
    font-size: 1.6rem;
  }
  .contacts__heading {
    font-size: 2.5rem;
  }
  .contacts__input {
    width: 24.8rem;
  }
  .contacts__btn_form {
    width: 23.5rem;
  }
  .contacts__img-contacts {
    width: 21rem;
    height: 100%;
  }
  .contacts__input {
    width: 23.5rem;
  }
  .footer__logo {
    width: 16rem;
  }
}
@media (max-width: 44em) {
  .btn-mobile-nav {
    display: block;
    z-index: 9999;
  }
  .header__nav {
    z-index: 1000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(250, 250, 250, 0.97);
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }
  .header__menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }
  .header__btn_demo {
    display: none;
  }
  .nav-open .header__nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .nav-open .icon-mobile-nav[name=close-outline] {
    display: block;
  }
  .nav-open .icon-mobile-nav[name=menu-outline] {
    display: none;
  }
  .main__wrapper {
    margin: 0 auto;
    -ms-grid-rows: (1fr)[2];
    grid-template-rows: repeat(2, 1fr);
    margin-left: 17rem;
  }
  .main__img {
    margin-top: 5.2rem;
  }
  .main__text {
    margin-top: -6rem;
    -ms-grid-row: 2;
    grid-row: 2;
  }
  .main__item {
    margin-top: 1rem;
  }
  .main__list {
    line-height: 1.6;
  }
  .main__btn_submit-your-application {
    width: 14rem;
    height: 4rem;
    margin-top: 1.9rem;
  }
  .main .mac-transparent {
    width: 31rem;
    margin-top: -5rem;
  }
  .main .visor-2 {
    top: 3rem;
    left: 3.7rem;
    width: 23.3rem;
    height: 14.5rem;
  }
  .preferences__img {
    width: 29.5rem;
  }
  .preferences__descr {
    max-width: 29rem;
  }
  .contacts {
    padding: 0;
  }
  .contacts__img {
    display: none;
  }
  .contacts__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contacts__descr {
    width: 431px;
  }
  .contacts__heading {
    padding-top: 5px;
    font-size: 4rem;
  }
  .contacts__sub-heading {
    font-size: 2.2rem;
    margin-top: 1rem;
  }
  .contacts__form {
    margin-top: 3.5rem;
  }
  .contacts__input {
    width: 40.8rem;
    margin-left: 8.3rem;
    font-size: 2rem;
  }
  .contacts__btn_form {
    width: 40.8rem;
    margin-left: 8.3rem;
  }
}
@media (max-width: 34em) {
  .main__wrapper {
    margin-left: 8rem;
    -ms-grid-columns: 26rem 26.3rem;
    grid-template-columns: 26rem 26.3rem;
  }
  .main__img {
    height: 100%;
  }
  .main__text {
    margin-top: -3.5rem;
  }
  .main__list {
    font-size: 1.5rem;
  }
  .main .mac-transparent {
    position: absolute;
    top: -2.2rem;
    left: 0;
  }
  .main .visor-2 {
    top: 1rem;
  }
  .preferences {
    position: relative;
    padding-top: 4.5rem;
    margin: 0 auto;
  }
  .preferences__wrapper {
    width: 500px;
    min-height: 53.5rem;
    margin: 0 auto;
  }
  .preferences__track {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-height: 500px;
  }
  .preferences__items {
    display: none;
    margin-left: 10rem;
    width: 500px;
    height: 450px;
  }
  .preferences .active {
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .preferences__img {
    width: 25.5rem;
    height: 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .preferences__descr {
    margin-top: 1rem;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .preferences .dots {
    position: absolute;
    left: 50%;
    bottom: 7.3rem;
    -webkit-transform: translate(-50%, 32px);
            transform: translate(-50%, 32px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 12px;
  }
  .preferences .dot {
    height: 12px;
    width: 12px;
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 50%;
    cursor: pointer;
  }
  .preferences .dot--fill {
    background-color: grey;
  }
  .prices__card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 10rem;
  }
  .prices__title {
    font-size: 3.9rem;
  }
  .contacts__heading {
    font-size: 3.5rem;
    text-align: center;
  }
  .contacts__sub-heading {
    font-size: 2rem;
    text-align: center;
  }
  .contacts__form {
    margin-right: 6.5rem;
  }
  .contacts__input {
    width: 34.4rem;
  }
  .contacts__btn_form {
    width: 34.4rem;
    text-align: center;
  }
}