* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Inter";
}

.container {
  max-width: 1202px;
  margin: 0 auto;
}

.header {
  padding: 40px 118px 80px 120px;
}
.header__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__logo {
  width: 250px;
  height: 60px;
  background-color: rgb(32, 39, 62);
  text-align: center;
  padding: 8px 0;
}
.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 304px;
  list-style: none;
}
.header__btn_demo {
  width: 100px;
  height: 40px;
  font-size: 12px;
}

.main {
  height: 664px;
  background-color: rgb(197, 220, 255);
}
.main__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 588px 633px;
  grid-template-columns: 588px 633px;
}
.main__text {
  margin-top: 164px;
}
.main__heading {
  font-size: 55px;
  font-weight: 400;
  color: rgb(4, 1, 23);
}
.main__item {
  margin-top: 40px;
}
.main__list {
  font-weight: 300;
  font-size: 18px;
  color: rgb(66, 69, 94);
  margin-left: 21px;
}
.main__img {
  position: relative;
}
.main__btn_submit-your-application {
  display: block;
  margin: 99px 0 0 77px;
  width: 180px;
  height: 60px;
  font-size: 15px;
}

.mac-transparent {
  width: 633px;
  height: 633px;
}

.visor-2 {
  position: absolute;
  left: 89px;
  top: 169px;
  width: 455px;
  height: 286px;
}

.preferences {
  padding-top: 100px;
}
.preferences__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 599px 599px;
  grid-template-columns: 599px 599px;
  margin-bottom: 89px;
}
.preferences__heading {
  font-weight: 400;
  font-size: 40px;
  color: rgb(4, 1, 23);
}
.preferences__sub-heading {
  font-size: 18px;
  font-weight: 300;
  margin-top: 40px;
}
.preferences__img {
  width: 558px;
  height: 300px;
  background-color: rgb(197, 220, 255);
}

.prices__title {
  font-weight: 400;
  font-size: 55px;
  color: rgb(4, 1, 23);
  text-align: center;
}
.prices__card {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.prices__item {
  width: 282px;
  height: 435px;
  background-color: rgb(197, 220, 255);
}
.prices__heading {
  font-weight: 400;
  font-size: 45px;
  color: rgb(4, 1, 23);
  margin-top: 41px;
  text-align: center;
}
.prices__menu {
  margin-top: 30px;
}
.prices__list {
  font-size: 18px;
  font-weight: 400;
  color: rgb(66, 69, 94);
  margin-left: 23px;
}
.prices__btn_buy-a-subscription {
  display: block;
  margin: 0 auto;
  margin-top: 102px;
  width: 180px;
  height: 60px;
  font-size: 15px;
}

.btn {
  color: rgb(255, 255, 255);
  background-color: rgb(32, 39, 62);
  font-weight: 400;
  border: none;
  cursor: pointer;
}