.footer {
  background-color: rgba(34, 82, 204, 1);
  &__wrapper {
    display: flex;
    justify-content: space-between;
  }
  &__logo {
    margin: 4rem 0;
  }
  &__link {
    display: block;
    font-weight: 400;
    font-size: 1.5rem;
    color: #fff;
    margin: 6rem 0;
    text-decoration: none;
  }
}
