.header {
  padding: 40px 0 80px 0;
  position: relative;

  &__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__nav {
    width: 36.5rem;
    display: flex;
    justify-content: space-between;
  }
  &__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30.4rem;
    list-style: none;
  }
  &__link {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 400;
    color: rgba(66, 69, 94, 1);
  }

  &__btn {
    &_demo {
      width: 10rem;
      height: 4rem;
      font-size: 1.2rem;
    }
  }
}
.logo {
  width: 25rem;
  height: 6rem;
  background-color: rgba(32, 39, 62, 1);
  text-align: center;
  padding: 0.8rem 0;
}
.dots {
  display: none;
}
