.header {
  padding: 4rem 11.8rem 8rem 12rem;
  &__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__menu {
    display: flex;
    justify-content: space-between;
    width: 30.4rem;
    list-style: none;
  }
  &__link {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 400;
    color: rgba(66, 69, 94, 1);
    scroll-behavior: smooth;
  }

  &__btn {
    &_demo {
      width: 10rem;
      height: 4rem;
      font-size: 1.2rem;
    }
  }
}
.logo {
  width: 250px;
  height: 60px;
  background-color: rgba(32, 39, 62, 1);
  text-align: center;
  padding: 8px 0;
}
