.header {
  padding: 40px 118px 80px 120px;
  &__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    width: 250px;
    height: 60px;
    background-color: rgba(32, 39, 62, 1);
    text-align: center;
    padding: 8px 0;
  }
  &__menu {
    display: flex;
    justify-content: space-between;
    width: 304px;
    list-style: none;
  }
  &__btn {
    &_demo {
      background-color: rgba(32, 39, 62, 1);
      width: 100px;
      height: 40px;
    }
  }
}
