.main {
  height: 66.4rem;
  background-color: rgba(197, 220, 255, 1);
  &__wrapper {
    display: grid;
    grid-template-columns: 58.8rem 63.3rem;
  }
  &__text {
    margin-top: 16.4rem;
  }
  &__heading {
    font-size: 5.5rem;
    font-weight: 400;
    color: rgba(4, 1, 23, 1);
  }
  &__item {
    margin-top: 4rem;
  }
  &__list {
    font-weight: 300;
    font-size: 1.8rem;
    color: rgba(66, 69, 94, 1);
    margin-left: 2.1rem;
  }
  &__img {
    position: relative;
  }
  &__btn {
    &_submit-your-application {
      display: block;
      margin: 9.9rem 0 0 7.7rem;
      width: 18rem;
      height: 6rem;
      font-size: 1.5rem;
    }
  }
}
.mac-transparent {
  width: 63.3rem;
  height: 63.3rem;
}
.visor-2 {
  position: absolute;
  left: 8.9rem;
  top: 16.9rem;
  width: 45.5rem;
  height: 28.6rem;
}
