.preferences {
  padding-top: 10rem;
  &__items {
    display: grid;
    grid-template-columns: 58.8rem 58.8rem;
    column-gap: 2.4rem;
    margin-bottom: 8.9rem;
  }
  &__descr {
    max-width: 56rem;
  }
  &__heading {
    font-weight: 400;
    font-size: 4rem;
    color: rgba(4, 1, 23, 1);
  }
  &__sub-heading {
    font-size: 1.8rem;
    font-weight: 300;
    margin-top: 4rem;
    color: rgba(66, 69, 94, 1);
  }
  &__img {
    width: 55.8rem;
    height: 30rem;
    background-color: rgba(197, 220, 255, 1);
  }
}
