@media (max-width: 120em) {
  .header {
    &__items {
      padding: 0 3.2rem;
    }
  }
  .main {
    &__wrapper {
      grid-template-columns: 50rem 50.3rem;
    }
    .mac-transparent {
      width: 500px;
    }
    .visor-2 {
      top: 12.9rem;
      left: 6.8rem;
      width: 36rem;
      height: 23rem;
    }
    &__btn {
      &_submit-your-application {
        margin-left: 2.2rem;
      }
    }
  }
  .preferences {
    &__items {
      grid-template-columns: 50.8rem 50.8rem;
      justify-content: space-between;
    }
    &__img {
      width: 49.9rem;
    }
    &__descr {
      max-width: 48rem;
    }
    &__text {
      width: 48rem;
    }
    &__heading {
      font-size: 3.5rem;
    }
    &__sub-heading {
      font-size: 1.9rem;
      line-height: 1.4;
    }
  }
  .prices {
    &__item {
      width: 27.2rem;
      height: 40rem;
    }
    &__list {
      font-size: 1.7rem;
      line-height: 1.4;
    }
    &__btn {
      &_buy-a-subscription {
        margin-top: 7.7rem;
      }
    }
  }
  .contacts {
    &__descr {
      margin-left: 3.3rem;
    }
  }
  .footer {
    &__link {
      margin-right: 1rem;
    }
  }
}
